<div ng-controller="FoodController">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Author</th>
				<th>Rating</th>
				<th>Category</th>
				<th>Country</th>
			</tr>
		</thead>


		<tbody>
			<tr ng-repeat="recipe in cookbook">
				<td>{{recipe.name}}</td>
				<td>{{recipe.author}}</td>
				<td>{{recipe.rating}}</td>
				<td>{{recipe.category}}</td>
				<td>{{recipe.country}}</td>

			</tr>
		</tbody>

	</table>
	<a href="#/food/new"><button type="button" class="btn btn-primary">Add Recipe</button></a>

</div>
