<div class="container" ng-controller="WineController">

	<div class="row col-md-12">


		<div class="panel panel-default">
			<div class="panel-heading">Add a new Wine</div>
			<div class="panel-body">
				<form role="form">
				
					<div class="form-group">
						<label for="name">Name</label> <input type="text"
							class="form-control" id="name" placeholder="Wine Name" required
							ng-model="wine.name">
							
							
							
						<div class="form-group">
							<label for="year">Year</label> <input type="text"
								class="form-control" id="year" placeholder="Vintage Year"
								required ng-model="wine.year">
						</div>
						
						
						
						<div class="form-group">
							<label for="vineyard">Vineyard</label> <input type="text"
								class="form-control" id="vineyard" placeholder="Vineyard" required
								ng-model="wine.vineyard">
						</div>
						<div class="form-group">
							<label for="varietal">Varietal</label> <input type="text"
								class="form-control" id="varietal" placeholder="Varietal"
								required ng-model="wine.varietal">
						</div>
					</div>

					<a class="btn btn-default" ng-click="addWine()">Add Wine</a>
				</form>
			</div>
		</div>
	</div>
</div>